* {
      font-family: 'Permanent Marker', cursive;
      box-sizing: border-box;
    }
    
    h1 {
      text-align: center;
      font-size: 48px;
    }
    
    h4 {
      text-align: center;
      font-size: 34px;
      color: grey;
    }
    
    
    .board {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 450px;
      margin: 75px auto;
      gap: 10px;
    }
    
    .square {
      height: 150px;
      width: 150px;
      font-size: 125px;
      line-height: 125px;
      text-align: center;
      cursor: pointer;
      border: 5px dotted grey;
    }

    .playerX {
      color: green;
    }

    .playerO {
      color: red;
    }
    
    .game-result {
        text-align: center;
    }
    
    #advice {
        text-align: center;
        padding: 0 0 0 0;
    }
    
    .button-wrapper {
      text-align: center;
    }
    
    #reset-btn {
      width: 150px;
      height: 35px;
      background: orange;
    }