* {
      font-family: 'Permanent Marker', cursive;
      box-sizing: border-box;
    }

    body {
      background: #F1F7EE;
    }
    
    h1 {
      text-align: center;
      font-size: 48px;
    }
    
    h4 {
      text-align: center;
      font-size: 34px;
      color: grey;
    }
    
    .board {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 450px;
      margin: 75px auto;
    }
    
    .square {
      height: 150px;
      width: 150px;
      font-size: 125px;
      line-height: 125px;
      text-align: center;
      cursor: pointer;
      border: 2px solid grey;
    }

    .playerX {
      color: #92AA83;
    }

    .playerO {
      color: #B0BEA9;
    }
    
    .game-result {
      text-align: center;
      font-size: 64px;
      padding: 30px 0 10px 0;
      margin: 0 auto;
    }
    
    #advice {
        text-align: center;
        padding: 0 0 0 0;
    }
    
    .button-wrapper {
      text-align: center;
      position: relative;
    }
    
    #reset-btn {
      width: 140px;
      height: 45px;
      font-size: 20px;
      background: #E7F59E;
      cursor: pointer;
    }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #E0EDC5;
  justify-content: center;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60vw; /* Could be more or less, depending on screen size */
  height: 35vh;
}

.modal-header {
  background-color: #92AA83;
  display: block;
  width: 55vw;
  height: 30vh;
  margin: 0 auto;
}